body {
        overflow: hidden;
    }

    li {
        transition: all 0.4s;
    }

    li:hover {
        background-color: var(--bs-warning);
        border-radius: 10px;
        cursor: pointer;
        color: white;
    }

    .bg-gray{
        background-color: #F4EDED !important;
    }

    @media (max-width:768px){
        body{
            overflow:auto !important;
        }
    }